* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Roboto Slab", serif;
  color: #B47C54;
}

.card {
  font-family: "Montserrat", sans-serif;
}

.title, h4{
  font-family: "Roboto Slab", serif;
  color: saddlebrown;
}

.titleNumber{
  font-family: "Roboto Slab", serif;
  color: darkred;
}

.form {
  width: 35em;
  border: 1px solid #B47C54;
  padding: 3em;
}

#btnDetails {
  color: white;
  width: 13em;
}

#loginBtn {
  color: white;
}